{% extends 'aplicaciones/base.html' %}
{% load static %}
{% block contenido %}



</head>
<body>
    <nav class="nava">
        <ul>
            <li><a href="{%url 'VistaMedico'%}">Inicio</a></li>
            <li><a href="{%url 'VerPacientes'%}">Ver Pacientes</a></li>
            <li><a href="{%url 'agenda'%}">Agenda Medica</a></li>
            <li><a href="{%url 'disponibilidad'%}">Disponibilidad</a></li>
            <li><a href="{%url 'InicioPaciente'%}">Cerrar Sesión</a></li>
        </ul>
    </nav>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Medico</th>
        <th scope="col">Fecha</th>
        <th scope="col">Horario Entrada</th>
        <th scope="col">Horario Salida</th>
        <th scope="col">Disponibilidad</th>
      </tr>
    </thead>
    <tbody>
        {% for dato in data %}
      <tr>
        <th>{{dato.rut_medico }}</th>
        <td>{{dato.fechaDispon }}</td>
        <td>{{dato.horaInicio }}</td>
        <td>{{dato.horaFinal }}</td>
        <td>{{dato.disponible}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<style>

    header {
        background-color: navy;
        color: #fff;
        text-align: center;
        padding: 20px;
    }
    section {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    p {
        font-size: 16px;
        margin: 5px 0;
    }

    .nava {
        background-color: #333;
        color: #fff;
        padding: 10px;
        font-size: 15px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    a:hover {
        color: lightblue; /* Color al pasar el ratón por encima */
    }
</style>

{% endblock %}