{% extends 'aplicaciones/base.html' %}
{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aaaa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <h2>Estas Seguro?</h2>

    <p><span id="horamedica"></span></p>

    <p><span id="disponibilidad"></span></p>
</body>

</html>
<script>
    // Recupera los datos almacenados en sessionStorage
    var horamedica = sessionStorage.getItem('horamedica');
    var disponibilidad = sessionStorage.getItem('disponibilidad');


    // Muestra los datos en la página
    document.getElementById('horamedica').innerText = horamedica;
    document.getElementById('disponibilidad').innerText = disponibilidad;

</script>
{% endblock %}