{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}



<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="{% static 'aplicaciones/css/estilo.css' %}">

</head>

<main style="margin: 2vh;">

    <div class="d-flex justify-content-center align-items-center mh-100 " style="padding-bottom: 5vh">
        <div class="p-5" style="width: 60rem;border-radius: 50px;background-color: #87CEEB;">
            <div style="font-weight: bolder;" class="mt-4 text-center fs-1">Registro</div>
            <form method="post" id="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="text" placeholder="Rut"
                        id="rutPaciente" name="rutPaciente" required />
                </div>
                <div id="erro" style="color:red;"></div>
                <p id="mensaje"></p>
                <h5>Formato: rut con punto y guión</h5>
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="text" placeholder="Nombre"
                        id="nomPaciente" name="nomPaciente" required/>
                </div>
                <h5>Formato: Minimo 3 letras</h5>
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="text" placeholder="Apellido"
                        id="apePaciente" name="apePaciente" required/>
                </div>
                <h5>Formato: Minimo 3 letras</h5>
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="text" placeholder="Correo"
                        id="correo" name="correo" required/>
                </div>
                <h5>Formato: ejemplo@ejemplo.ej</h5>
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="password"
                        placeholder="Contraseña" id="contraPaciente" name="contraPaciente" required />
                </div>
                <h5>Formato: Minimo 4 letras, maximo 12</h5>
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="password"
                        placeholder="Repita su Contraseña" id="contra2" name="contra2" />
                </div>
                <h5>Formato: Debe ser iguales las contraseñas</h5>
                <div id="error" style="color:red;"></div>
                <p id="mensaje"></p>
                <div class="input-group mt-4">
                    <input style="font-size:15px;" class="form-control bg-light" type="date"
                        placeholder="Fecha de Nacimiento" id="fechaNacimiento" name="fechaNacimiento" required />
                </div>
                <div>
                    <button style="background: navy; font-size: 2rem;" class="btn text-white w-100 mt-4 fw-semibold shadow-sm" id="subButton" type="submit">Crear Cuenta</button>
                </div>
            </form>
            <div class="d-flex gap-1 justify-content-center mt-3">
                <div style="font-size: 15px">Ya tienes una cuenta?</div>
                <a href="{% url 'InicioSesion' %}"
                    style="font-size: 15px; color: black; font-weight: bolder; text-decoration: none;">Ingresa
                    aqui</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'aplicaciones/js/vali_contra.js' %}"></script>
</main>
<script src="{% static 'aplicaciones/js/Validarr.js' %}"></script>

{%endblock%}