{% extends 'aplicaciones/base.html' %}
{% load static %}
{% block contenido %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Hora</title>
    <link rel="stylesheet" href="{% static 'aplicaciones/css/estilo.css' %}">
</head>

<main style="margin: 120px;">
    <div class="d-flex justify-content-center align-items-center mh-100 ">
        <div class="p-5" style="width: 55rem; height: 30rem; border-radius: 50px; background-color: #87CEEB;">
            <h1 style="margin-bottom: 20px;">Busqueda Hora Medica</h1>
            {{disp.correo}}
            
            <br>
            <form method="post" action="{% url 'HoraDisponible' %}">
                {% csrf_token %}
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                    style="font-family: 'Arial', sans-serif" name="especialidad" id="especialidadSelect">
                    <option value="" selected>Selecciona una especialidad</option>
                    {% for especialidad in especialidades %}
                    <option value="{{ especialidad.id }}">{{ especialidad.nombre }}</option>
                    {% endfor %}
                </select>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                    style="font-family: 'Arial', sans-serif" name="medico" id="medicoSelect">
                    <option selected>Selecciona un médico</option>
                    {% for medico in medicos %}
                    <option value="{{ medico.rutmedico }}" data-especialidad="{{ medico.especialidad_idespecialidad }}">
                        {{ medico.nombre }} {{ medico.apellido }}</option>
                    {% endfor %}
                </select>
                <br>
                <div>
                    <button style="background: #308aca; font-size: 14px;"
                        class="btn text-white w-100 mt-4 fw-semibold shadow-sm" type="submit">Consultar Horas
                        Disponibles</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('especialidadSelect').addEventListener('change', function () {
            var selectedEspecialidadId = this.value;
            var selectedEspecialidadIdInput = document.getElementById('selectedEspecialidadIdInput');

            var medicoSelect = document.getElementById('medicoSelect');

            console.log('Especialidad Seleccionada:', selectedEspecialidadId);
            console.log(selectedEspecialidadId)
            // Oculta todos los médicos
            Array.from(medicoSelect.options).forEach(function (option) {
                option.style.display = 'none';
            });

            // Muestra solo los médicos de la especialidad seleccionada
            Array.from(medicoSelect.options).forEach(function (option) {
                var medicoEspecialidadId = option.getAttribute('data-especialidad');
                console.log('ID de Especialidad del Médico:', medicoEspecialidadId);
                if (medicoEspecialidadId == selectedEspecialidadId || selectedEspecialidadId == "") {
                    option.style.display = 'block';
                }
            });
        });
    });
</script>






{% endblock %}