{% extends 'aplicaciones/base.html' %}
{% load static %}
{% block contenido %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buscar Hora</title>
    <link rel="stylesheet" href="{% static 'aplicaciones/css/estilo.css' %}">
</head>

<main style="margin: 120px;">
    <div class="d-flex justify-content-center align-items-center mh-100 ">
        <div class="p-5" style="width: 55rem; height: 30rem; border-radius: 50px; background-color: #87CEEB;">
            {% for item in disp %}
            <h1>{{item.nomPaciente }}</h1>
             {% endfor %}
            <h1 style="margin-bottom: 20px;">Busqueda Hora Medica</h1>
            {{disp.correo}}
            
            <br>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                style="font-family: 'Arial', sans-serif" name="especialidad">
                <option selected>Selecciona una especialidad</option>
                {% for especialidad in especialidades %}
                <option value="{{ especialidad.idespecialidad }}">{{ especialidad.nombre }}</option>
                {% endfor %}
            </select>
            <form method="post" action="{% url 'HoraDisponible' %}">
                {% csrf_token %}
                <label for="medico">Selecciona un médico:</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="font-family: 'Arial', sans-serif" name="medico">
                    <option selected disabled>Selecciona un médico</option>
                    {% for medico in medicos %}
                        <option value="{{ medico.rutmedico }}">{{ medico.nombre }} {{ medico.apellido }}</option>
                    {% endfor %}
                </select>
                <br>
                <div>
                    <button style="background: #308aca; font-size: 14px;" class="btn text-white w-100 mt-4 fw-semibold shadow-sm" type="submit">Consultar Horas Disponibles</button>
                </div>
            </form>
        </div>
    </div> 
</main>

{% endblock %}