{% extends 'aplicaciones/base.html' %}
{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toma de Horas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Disponibilidad del Médico</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Horario Entrada</th>
                <th scope="col">Horario Salida</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for item in disp %}
            <tr>
                <td>{{item.fechaDispon }}</td>
                <td>{{item.horaInicio }}</td>
                <td>{{item.horaFinal }}</td>
                <td>(Boton Generar Hora Medica)</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>






{% endblock %}
