{% extends 'aplicaciones/base.html' %}
{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toma de Horas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <h2>Tus horas medicas</h2>
    <form method="post">
        {% csrf_token %}
    <input type="hidden" id="id_disponibilidad" name="disponibilidad" value="{{ disponibilidad }}">
    <p><span id="disponibilidad"></span></p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre del Paciente</th>
                <th scope="col">Rut del Paciente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Horario Inicio</th>
                <th scope="col">Horario Salida</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for item in disp %}
            <tr>
                <td>{{ item.nomPaciente }} {{ item.apePaciente }}</td>
                <td>{{ item.rutPaciente }}</td>
                {% endfor %}
                <td>
                    <p><span id="fecha"></span></p>
                </td>
                <td>
                    <p><span id="horaInicio"></span></p>
                </td>
                <td>
                    <p><span id="horaFinal"></span></p>
                </td>
                <td>
                    <button type="submit" class="btn-elegir btn w-100 mt-4 fw-semibold shadow-sm">Aceptar</button>
                </form>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        // Recupera los datos almacenados en sessionStorage
        var fecha = sessionStorage.getItem('fecha');
        var horaInicio = sessionStorage.getItem('horaInicio');
        var horaFinal = sessionStorage.getItem('horaFinal');
        var disponibilidad = sessionStorage.getItem('disponibilidad');

        // Muestra los datos en la página
        document.getElementById('fecha').innerText = fecha;
        document.getElementById('horaInicio').innerText = horaInicio;
        document.getElementById('horaFinal').innerText = horaFinal;
        document.getElementById('disponibilidad').innerText = disponibilidad;
        document.getElementById('id_disponibilidad').value = disponibilidad;
    </script>
</body>

</html>
{% endblock %}